@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@900&display=swap');
@font-face {
    font-family: "Angeline_Vintage";
    src: url("Fonts/AngelineVintageDemo.woff") format('woff');
}
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans|Pacifico|Source+Code+Pro');
        /* FontAwesome cdn fonts */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');


body {
    margin: 0;
    padding: 0;
    background-color: #1B1B1B;
    font-family:  'Roboto', sans-serif;
    /* background-image: url('Images/apple.jpg'); */
}





  /* .showcase {
    width: 100%;
    height: 500px;
    position: relative;
    color: white;
    text-align: center;
    }

    .showcase img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index:99
    }

    .showcase .overlay {
    width: 100%;
    height: 500px;
    background-color: rgba(134, 142, 153, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    z-index:999
    }

    .showcase h2 {
    margin-top: 170px;
    font-size: 3em;
    }

    .showcase p {
    margin-top: 8px;
    font-size: 1.2em;
    } */

    #allcomments {
            width: 90%;
            margin: 1em 0 4em 1em;
            padding: 1%;
            border: solid 1px gray;
            border-radius: 3px;
            box-shadow: 2px 2px 2px silver;
        }

        ul#pastcomments {
            list-style-type: none;
        }

        ul#pastcomments li:before {
            font-family:  'Roboto', sans-serif;
            content: "\f086";
            font-size: 24pt;
            color: gray;
            margin-left: -42px;
            padding-right: 10px;
            position: relative;
            top: 8px;
        }

        ul#pastcomments li {
            margin: 0 0 2em 0;
            padding: 10px;
        }

        ul#pastcomments li span {
            font-size: 80%;
            color: gray;
            font-style: italic;
        }

        form#newcomment textarea {
            height: 72px;
        }

        form#newcomment label {
            display: inline-block;
            margin: 1em 0 0 0;
        }

        form#newcomment textarea,
        form#newcomment input[type="text"] {
            margin-top: 0;
        }